# Obsidian settings
.obsidian/

# Python caching
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.ipynb_checkpoints/

# Virtual environments
venv/
.venv/
env/
.env

# OS metadata
.DS_Store
Thumbs.db

# IDE settings
.vscode/
.idea/
